OPENAI_API_KEY=sk-xxxxx
HUGGINGFACEHUB_API_TOKEN=hf_xxxxx
GEMINI_API_KEY=al

R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
PINECONE_KEY=
OPENAI_KEY=

SERPER_API_KEY=

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<your-api-key>"
LANGSMITH_PROJECT="tests"
