langchain
chromadb
langchain-chroma
openai
huggingface_hub
jupyter
ipykernel
python-dotenv
tqdm
fastapi
uvicorn
pydantic
unstructured
tiktoken
sentence-transformers
numpy
pandas
fastapi_mcp
python-dotenv
langchain-community
google-generativeai
langchain-google-genai
langchain_chroma
pinecone
boto3
