langchain
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
sentence-transformers
fastapi
uvicorn
chromadb
pydantic
db-sqlite3
slowapi
boto3
pinecone
